@import '../../scss/mixins.scss';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
  @include prefix(user-select, none);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


button.square {
  display: inline;
  position: relative;
  border: 1px solid grey;
  line-height: 0;
  font-size: 2em;
  min-width: 2em;
  min-height: 2em;
  padding:0;
  margin: 1px 1px;
  user-select: none;
  background-color: white;

}

.board-row {
  margin: 0 auto;
  width: 80%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  padding:0;
}


@media only screen and (max-width:667px) {
  .App-header {
    cursor: pointer;
  }
}